.login{
    width: 30%;
    height: 350px;
    background-color: beige;
    position: relative;
    left: 35%;
    top: 170px;
    padding: 0;
    padding-top: 50px ;
    padding-bottom: 50px ;
    &>input{
        width: 80%;
        height: 50px;

    }
    &>h1{
        font-size: 30px;
        font-weight: 100;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    &>.submit{
        width: 40%;
    }
}