.card{
    margin: 30px;
    border: solid #bebebe 3px;
    width: 85%;
    height: 700px;
    background-color: #cccccc;
    max-height: 695px;
    box-shadow: black 10px 6px 20px 6px;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    gap: 35px;
    padding: 30px;
    justify-content: space-around;
    
    
}
.card-item{
    width: 350px;
    height: 300px;
    background-color: #dcdcdc;
    display: inline-flex;
    font-size: 15px;
    color:#ffffff ;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    box-shadow: 6px 10px 90px 1px black;
   
    &>.img{
        width: 80%;
        height: 80%;
        border: 1px solid black;
        position: relative;
        top: 20px;
        &>h4{
            color: rgb(0, 0, 0);
            position: absolute;
            bottom: -20px;
            right: -30px;
            background-color: #dcdcdc00;
            
        }
    }
}


.close{
    width: 30px;
    height: 30px;
    color: rgb(0, 0, 0);
    position: relative;
    top: -35px;
    right: -50px;
}


